docker/mysql/data/*
/node_modules/
/vendor/
*.env
*.pem
/public/css/*
!/public/css/custom.css
/public/js
!/public/js/custom.js
/public/mix-manifest.json
/storage/logs/
/storage/framework/cache/
.vscode/
.idea/
.DS_Store
Thumbs.db
*.Zone.Identifier
!.gitkeep
